* {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 4%;
}

.profile {
    margin: 100px auto 0;
    max-width: 780px;
    text-align: center;
}

.dark {
    /* background: #fcefe8; */
    background: #161823;
    color: #6C7486;
}

.avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.block {
    margin: 0 auto 7%;
}

.links {
    font-size: 14px;
}

.links a {
    color: #6C7486;
    margin-left: 10px;
    text-decoration: none;
}

.links a:first-child {
    margin-left: 0;
}

.links a:hover {
    text-decoration: #99A3BA;
    text-decoration-line: underline;
    text-underline-position: under;
}

.quote {
    margin: 7% 7% 12% 7%;
}

.quote .content {
    font-size: 22px;
    line-height: 1.5;
}

.quote .from {
    display: block;
    text-align: right;
    line-height: 2;
    padding-right: 8px;
}

.quote-line {
    display: block;
    height: 1px;
    background: #242836;
}

footer {
    font-size: 14px;
    position: fixed;
    bottom: 14px;
    text-align: center;
    width: 100%;
}

footer a {
    font-size: 12px;
    text-decoration: none;
    color: #6C7486;
}